body {
	font-family: 'Viga', sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.prompt {
	background: #fff;
	padding: 30px;
	position: relative;
}

.prompt,
.prompt::before,
.prompt::after {
	/* Styles to distinguish sheets from one another */
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #bbb;
}

.prompt::before,
.prompt::after {
	content: "";
	position: absolute;
	height: 95%;
	width: 99%;
	background-color: #eee;
}

.prompt::before {
	right: 15px;
	top: 0;
	transform: rotate(-1deg);
	z-index: -1;
}

.prompt::after {
	top: 5px;
	right: -5px;
	transform: rotate(1deg);
	z-index: -2;
}

.answer {
	border: 2px solid black;
	cursor: pointer;
}
