body {
	font-family: "Viga", sans-serif;
	color: white;
	background-color: #380d05;
	background-image: linear-gradient(90deg, #380d05 0%, #5f170c 25%, #6b1c0f 50%, #61160a 75%, #360a04 100%);
	width: 100vw;
	height: 100vh;
}

.App {
	text-align: center;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.heading {
	margin-top: 10%;
	font-size: 5em;
	font-family: 'Bowlby One SC', cursive !important;
	-webkit-text-stroke: 3px black;
	color: white;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button {
	padding: 5px 10px;
	display: inline-block;
	margin: 5px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background-color: #cb4e4e !important;
	color: #fff;
	box-shadow: 0 4px #ab3c3c;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

input {
	align-self: center;
	background: rgb(255, 255, 255) !important;
	padding: 0.25rem 0.25rem;
	margin: auto;
	font-weight: 700;
	transition: all 0.5s ease;
	font-family: "Viga", sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
	outline: none;
	border-color: black;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	width: 300px;
}

fieldset {
	border: none;
}

table {
	margin: 0 auto;
}

td {
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* =================== GAME ========================== */
.game {
	margin-top: 5%;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.mute {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.5rem;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.mute:hover {
	cursor: pointer;
}

/* ================== PROMPT ========================= */

.prompt {
	color: black;
	background: #fff;
	padding: 10px;
	position: relative;
}

.prompt,
.prompt::before,
.prompt::after {
	/* Styles to distinguish sheets from one another */
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #bbb;
}

/* ============================== PLAYER ===============================*/

.player {
	text-align: center;
	background: transparent;
	padding: 0.5rem 0.5em;
	margin: 0 auto;
	margin-bottom: 0.5em;
	letter-spacing: 1px;
	outline: none;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 4px black;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player.vote {
	padding: 0.1rem 0.1rem;
	font-size: 0.75em;
	width: 100px;
}

.red {
	background-color: #9b1b30;
}

.orange {
	background-color: #f96714;
}

.yellow {
	background-color: #ca9b00;
}

.green {
	background-color: #264e36;
}

.teal {
	background-color: #00a591;
}

.blue {
	background-color: #00539c;
}

.purple {
	background-color: #6b5b95;
}

.pink {
	background-color: #ce3175;
}

/* ===================== ANSWER ========================= */
.answer {
	position: relative;
	margin: 3em;
	padding: 0 1em 0 1em;
	border: 2px solid black;
	background-color: black;
}

.answer.votable:hover {
	cursor: pointer;
}

.player-votes {
	display: flex;
	position: relative;
	margin: 0 auto;
	top: 1em;
	justify-content: center;
	flex-flow: row wrap;
	padding: 0;
	width: 230px;
}

.answer .player {
	min-width: 100px;
	max-width: 100px;
	margin: 0;
}

.answer .answerer {
	position: relative;
	margin: 0 auto;
	top: -1em;
	max-width: 200px;
}

.score {
	position: absolute;
	top: -4em;
	margin: 0 auto;
	font-size: 2em;
	background-color: white;
	color: black;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 4px black;
	padding: 0.1em;
	z-index: 9 !important;
}

.voted {
	background-color: white;
	color: black;
}

* {
	margin: 0px;
	padding: 0px;
}

.context {
	width: 100%;
	position: absolute;
	top: 50vh;
}

.context h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
}

/* ============================== FOR FLOATING BRAIN AND SPLURT EMOJIS ============================= */
.area {
	background-image: linear-gradient(90deg, #380d05 0%, #5f170c 25%, #6b1c0f 50%, #61160a 75%, #360a04 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	font-size: 5.25em;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	font-size: 4.5em;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	font-size: 4.75em;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	font-size: 7em;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	font-size: 3.25em;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	font-size: 6.5em;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	font-size: 3.75em;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	font-size: 7em;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	font-size: 6.25em;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	font-size: 5em;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0.5;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

/* ================== LOADER ======================= */
.loader {
	font-size: 3em;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
