body {
  font-family: "Viga", sans-serif;
  color: white;
  background-color: #380d05;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  background-color: white;
  min-width: 300px;
}

fieldset {
  border: none;
}

td {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1em;
}

/* =================== GAME ========================== */
.game {
  margin-top: 5%;
}

/* ================== PROMPT ========================= */

.prompt {
  color: black;
  background: #fff;
  padding: 30px;
  position: relative;
}

.prompt,
.prompt::before,
.prompt::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

/* ============================== PLAYER ===============================*/

.player {
  text-align: center;
  background: transparent;
  padding: 0.5rem 0.5em;
  margin: 0.5rem 0.5rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 4px black;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player.vote {
  padding: 0.1rem 0.1rem;
  font-size: 0.75em;
  width: 100px;
}

.red {
  background-color: #9b1b30;
}

.orange {
  background-color: #f96714;
}

.yellow {
  background-color: #d8b43e;
}

.green {
  background-color: #264e36;
}

.teal {
  background-color: #00a591;
}

.blue {
  background-color: #00539c;
}

.purple {
  background-color: #6b5b95;
}

.pink {
  background-color: #ce3175;
}

/* ===================== ANSWER ========================= */
.answer {
  margin: 3em;
  padding: 0 1em 0 1em;
  border: 2px solid black;
  background-color: black;
}

.answer.votable:hover {
  cursor: pointer;
}

.player-votes {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 1em;
  justify-content: center;
  flex-flow: row wrap;
  width: 400px;
}

.answer .player {
  min-width: 100px;
  max-width: 100px;
  margin: 0;
}

.answer .answerer {
  position: relative;
  margin: 0 auto;
  top: -1em;
  max-width: 200px;
}

.voted {
  background-color: white;
  color: black;
}

* {
  margin: 0px;
  padding: 0px;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

/* ============================== FOR FLOATING BRAIN AND SPLURT EMOJIS ============================= */
.area {
  background-image: linear-gradient(
    90deg,
    #380d05 0%,
    #5f170c 25%,
    #6b1c0f 50%,
    #61160a 75%,
    #360a04 100%
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  font-size: 5.25em;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  font-size: 4.5em;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  font-size: 4.75em;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  font-size: 7em;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  font-size: 3.25em;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  font-size: 6.5em;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  font-size: 3.75em;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  font-size: 7em;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  font-size: 6.25em;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  font-size: 5em;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* ================== INPUT ======================= */
/* ================== LOADER ======================= */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
